* {
  box-sizing: border-box;
}

@media only screen and (min-width: 400px) {
  .wrap {
    padding: 10% 10% 0;
  }
  #construction-img {
    width: 190px;
  }
}
@media only screen and (max-width: 400px) {
  .bio-header {
    margin-bottom: 0;
  }
  .wrap {
    padding-left: 4.75%;
    padding-right: 4.75%;
  }
  .bio-ul {
    margin-top: 3%;
  }
  #construction-img {
    margin-bottom: 20%;
  }
}

.bio-wrap:first-child .bio-ul li {
  margin-top: 2%;
  margin-bottom: 2%;
}

body {
  position: relative;
}

.bio-ul {
  list-style-type: none;
  padding-left: 0;
}

#overlay {
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  height: 50%;
  bottom: 0;
  width: 100%;
}
